@import './fonts.scss';

$font-color: #81868e;
$active-color: #19bd9a;

@mixin flexAlign ($hor: center, $vert: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $vert;
    flex-direction: $pos;
}
html {
    font-size: 100%;
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; 
    color: $font-color;   
}

h1, h2, h3 {
    margin: 0;
}

.banner {
    width: 100%;
    height: 48.06rem;
    background: url('../images/baner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 2.44rem; //=39px
    padding-bottom: 4.8rem;
    box-sizing: border-box; //всегда когда применяем паддинг
    @include flexAlign($hor: space-between, $pos: column);
        

    &__title {
        @include flexAlign($pos: column);

        &-big {
            margin: 0;
            text-transform: uppercase; //все буквы большие
            font-size: 2.19rem; //  35px/16=2.19
            font-weight: 300;
            letter-spacing: 7px; //расстояние между буквами
            margin-bottom: 2.88rem; //46px
        }

        &-small {
            width: 38.13rem;
            text-align: center;
        }
    }

    &__button {
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background: $active-color;
        @include flexAlign;
        cursor: pointer;

        &-img {
            width: .75rem;
        }
    }
}

.header {
    width: 100%;
    padding: 0 6.19rem;
    box-sizing: border-box;
    @include flexAlign(space-between);
    
    &__logo {
        text-transform: uppercase;
        font-size: 1.56rem;
        font-weight: 800;
    }

    &__links {

        &-item {
            text-decoration: none;
            color: white;
            padding: .63rem 1.25rem; //верч низ 10пикс право лево хз
            border: 1px solid transparent; //невидимый бордер
            box-sizing: border-box;
            border-radius: 1.2rem;
            transition: .4s;

            &:hover {
                border: 1px solid white;
            }
        }
    }
}

.about {
    width: 100%;
    height: 30.44rem;
    background: white;
    @include flexAlign;
    

    &__text {
        width: 29.4rem;
        @include flexAlign($pos: column, $vert: flex-start);
        margin-right: 10rem;

        &-title {
            text-transform: uppercase;
            font-size: 1.25rem;
            margin-bottom: 2.8rem;
            font-weight: 300;
            letter-spacing: 5px;
        }

        &-content {
            font-size: 0.88rem;
            margin-bottom: 2rem;
        }

        &-btn {
            text-decoration: none;
            padding: .63rem 1.25rem;
            border: 1px solid #333b46;
            color: #333b46;
            box-sizing: border-box;
            border-radius: 1.2rem;
            text-transform: capitalize; //каждое новое слово с большой
        }
    }
}

.details {
    @include flexAlign($pos: column);
    width: 100%;
    height: 38.6rem;
    background: #f3f3f3;

    &__buttons {
        width: 13.3rem;
        @include flexAlign(space-between);
        margin-top: 3.88rem;

        &-item {
            width: 3.3rem;
            height: 3.3rem;
            border-radius: 50%;
            @include flexAlign();
            background: $font-color;
            cursor: pointer;
            transition: .4s;
            

            &_active {
                background: $active-color !important;
                cursor: default;
            }

            &:hover {
                background: rgba($active-color, .6);
            }
        }
    }

    &__content {
        width: 64.4rem;
        margin-top: 3.75rem;

        &-title {
            font-size: 1.25rem;
            color: #333b46;
            margin-bottom: 2.5rem;
            font-weight: 400;
        }

        &-text {
            display: inline-block;
            width: 20.75rem;
            height: 6.75rem;
            font-weight: 500;

            &_big {
                width: 32.25rem;
                float: right;   //
                margin-right: 4rem;
            }     
        }
    }
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 2.5rem;
}

.subtitle {
    text-align: center;
    font-size: 0.88rem;
    font-weight: 300;
    width: 29rem;
}

.colored {
    color: $active-color;
}

.featured {
    width: 100%;
    height: 41.9rem;
    @include flexAlign($pos: column);

    &__whiskey {
        width: 100%;
        @include flexAlign();

        .wrapper {
            height: 20rem;
            flex: 1;
            position: relative;

            &:hover>.featured__whiskey-item_small {
                filter: none;
            }

            &__text {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                @include flexAlign;
                left: 0;
                top: 0;
                z-index: 1;
                color: white;
                text-transform: uppercase;
                font-size: 1.2rem;
                letter-spacing: 4px;
            }
        }
        
        &-item {
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            flex: 2;
            height: 20rem;
            position: relative;
            color: white;
            @include flexAlign;
            text-transform: uppercase;
            font-size: 1.2rem;
            letter-spacing: 4px;

        /*    &-text {
                filter: grayscale(0) brightness(3);
            }

   
          /*  .dark {
                background-color: rgba(black, .5);
                position: absolute;                          //первый вариант ч/б
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }*/

   

          /*  &::after {
                content: '';
                display: block;
                padding-bottom: 100%;           только если картинка задана бэкграундом
            }*/

            &_w1 {
                background-image: url(../images/whiskey.jpg);
            }

            &_w2 {
                background-image: url(../images/whiskey-1.jpg);
            }

            &_b1 {
                background-image: url(../images/book.jpg);

              /*  &::before {
                    content: '';
                    background-color: rgba(black, .5);
                    position: absolute;                          //второй вариант
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }*/
            }

            &_small {
                width: 100%;
                height: 100%;
                filter: grayscale(100%) brightness(.4);
                transition: .3s;
                
                













            //  filter: blur(5px);     размытие; можно несколько свойств через пробел
              /*  filter: grayscale(100%) brightness(.4); //оттенки серого  и яркость
                transition: .3s;

                &:hover {
                    filter: grayscale(0) brightness(1); //или filter: none;
                }*/
            }
        }
    }

    &__footer {
        width: 100%;
        height: 7.25rem;
        box-sizing: border-box;
        padding: 0 10.5rem;
        @include flexAlign(space-between);
        background-image: url(../images/footer.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: white;
        font-size: 1.2rem;

        &-button {
            text-decoration: none;
            color: white;
            border: 1px solid white;
            padding: .63rem 1.25rem;
            border-radius: 1.2rem;
            cursor: pointer;
            user-select: none;



            &:active {
                color: white;
            }
        }


      /*  &::after {
            content: '';
            display: block;
            padding-bottom: 10%;
        }*/
    }
}